/*CSS Comment*/
/* /* comment out and remove comment out shortcut: mac = cmd + k + c| pc = ctrl + k + c */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: blue;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: yellow;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
    font-weight: lighter;
    font-size: 22px;
}

header nav ul li input::placeholder {
    opacity: 0.3;
    color: blue;
}

footer {
    background: yellow;
    height: 118px;
    width: 100%;
    padding: 40px 35px;
}

footer h1 {
    display: inline;
    font-size: 50px;
    margin: 0;
    font-weight: bold;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
    font-size: 50px;
    font-weight: bold;
    margin: 0px 50px;
}

.search-value {
    border: 2px solid blue;
    font-size: 16px;
    color: blue;
}

.button {
    background-color: blue;
    border-radius: 12px;
    color: yellow;
    cursor: pointer;
    padding: 10px 15px;
    transition: 200ms;
    box-sizing: border-box;
    border: 0;
    font-size: 15px;
    touch-action: manipulation;
  }

.city-state {
    font-size: 20px;
    border: 5px solid blue;
    margin: 0 5px 0 0;
    height: 780px;
    width: 800px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

.city-state form p {
    display: inline;
    padding: 20px; 
}

.city-state p select {
    width: 17%;
    height: 25px; 
    display: inline;
}

.city-state-selector {
    border: 2px solid blue;
    display: block;
    font-size: 16px;
    color: blue;
}

.company-name {
    border: 5px solid blue;
    margin: 0 5px 0 0;
    height: 780px;
    width: 600px;
    display: inline-block;
}

.company-name p {
    font-size: 20px;
    margin: 20px 0 0 10px;
}

.company-name ul {
    /* border: 3px solid blue; */
    height: 720px;
    list-style-type: none;
}

.company-name ul li {
    margin: 16px;
    /* border: 1px solid blue; */
    background-color: yellow;
}

.company-name .selected-company {
    background-color: lightgrey;
}
.company-info {
    border: 5px solid blue;
    margin: 0 5px 0 0;
    height: 780px;
    width: 480px;
    display: inline-block;
}

.company-info p {
    font-size: 20px;
    margin: 20px 0 0 10px;
}

.company-info ul {
    /* border: 3px solid blue; */
    height: 720px;
    list-style-type: none;
}

.company-info ul li {
    margin: 16px;
    /* border: 1px solid blue; */
    background-color: yellow;
}